.body{
    font-family: Roboto,sans-serif;
}

.pb_gradient_v1:before {
    background: url() !important ;
}

.pb_cover, .pb_cover_v1, .pb_cover_v2, .pb_cover_v3, .pb_cover_v4 {
    position: relative;
    height: 106vh;
}
#pb-navbar{
    background-color: white !important;
    padding: 0px !important;
}

.btn-outline-primary {
    color: #4696b9;
    background-color: transparent;
    background-image: none;
    border-color: #4696b9;
    font-weight: 1000;
}

.btn-outline-primary:hover {
    color: #03608A;
    background-color: transparent;
    background-image: none;
    border-color: #03608A;
    font-weight: 1000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #03608a;
    border-color: #03608a;
}

.btn-primary {
    color: #fff;
    background-color: #2692B7;
    border-color: #2692B7;
}

.borde{
    border-radius: 30px !important;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    line-height: 1.33;
    padding: 7px 18px;
    margin-left: -24px;
}

@media (min-width: 992px){
    .col-lg-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 57%;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 0.5;
    color: #868e96;
    background-color: #fff;
}

.nav1 {
    padding-right: 79px;
    padding-left: 54px;
}

.nav-link {
    display: block;
    padding: 2rem 1rem;
    color: #32323d;
    font-size: 17px;
    font-weight: 700;
    font-family: Open Sans,Arial,sans-serif;

}

.logodeezer{
    height: 29px;
}

#precio{
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    margin: auto;
    max-width: 650px;
    margin-top: 100px;
}

.btn-success {
    color: #fff;
    background-color: #2692B7;
    border-color: #2692B7;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 49px;
}

.btn-success:hover {
    color: #fff;
    background-color: #2692B7;
    border-color: #2692B7;
}

.btn_centro{
    width: 145px;
    height: 149px;
    position: absolute;
    top: 104%;
    left: 38%;
}

.pb_section {
    padding: 0em 0;
}

.celular{
    position: absolute;
    top: 497px;
    right: 621px;
}

.pb_slant-light:after, .pb_slant-white:after {
    content: "";
    position: absolute;
    bottom: -174px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #ffff;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
}

.tamanio-celular{
    width: 357px;
}

.txt{
    float: right;
}

.pb_slant-light2:after {
    content: "";
    position: absolute;
    bottom: -174px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #ffff;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
}