.body{
    font-family: Roboto,sans-serif;
}

.pb_gradient_v1:before {
    background: url() !important ;
}

.pb_cover, .pb_cover_v1, .pb_cover_v2, .pb_cover_v3, .pb_cover_v4 {
    position: relative;
    height: 106vh;
}
#pb-navbar{
    background-color: white !important;
    padding: 0px !important;
    height: 73px !important;
}

.btn-outline-primary {
    color: #4696b9;
    background-color: transparent;
    background-image: none;
    border-color: #4696b9;
    font-weight: 1000;
}

.btn-outline-primary:hover {
    color: #03608A;
    background-color: transparent;
    background-image: none;
    border-color: #03608A;
    font-weight: 1000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #03608a;
    border-color: #03608a;
}

.btn-primary {
    color: #fff;
    background-color: #2692B7;
    border-color: #2692B7;
}

.borde{
    border-radius: 30px !important;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    line-height: 1.33;
    padding: 7px 18px;
    margin-left: -24px;
}

@media (min-width: 992px){
    .col-lg-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 57%;
    }
}

@media (max-width: 1559px) and (min-width: 1160px){
.wrapper-winter {
    background-image: url("../img/LP_1.jpg");
}
}

.nav1 {
    padding-right: 79px;
    padding-left: 54px;
}

.nav-link {
    display: block;
    padding: 2rem 1rem;
    color: #32323d;
    font-size: 17px;
    font-weight: 700;
    font-family: Open Sans,Arial,sans-serif;

}

.logodeezer{
    height: 29px;
}

#precio{
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    margin: auto;
    max-width: 650px;
    margin-top: 100px;
}

.btn-success {
    color: #fff;
    background-color: #2692B7;
    border-color: #2692B7;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 49px;
}

.btn-success:hover {
    color: #fff;
    background-color: #2692B7;
    border-color: #2692B7;
}

.btn_centro{
    width: 145px;
    height: 149px;
    position: absolute;
    top: 104%;
    left: 38%;
}

.pb_section {
    padding: 0em 0;
}

.celular{
    position: absolute;
    top: 497px;
    right: 621px;
}

.pb_slant-light:after, .pb_slant-white:after {
    content: "";
    position: absolute;
    bottom: -174px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #ffff;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
}

.tamanio-celular{
    width: 357px;
}

.txt1{
    float: right;
    width: 459px;
    margin-right: 179px;
    margin-top: 69px;
}

.txt2{
    position: absolute;
    margin-left: 50px;
    margin-top: 292px;
}

.pb_slant-light2:after {
    content: "";
    position: absolute;
    bottom: -174px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #ffff;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
}

.p1{
    font-size: 19px !important;
    font-weight: 300 !important;
    line-height: 30px !important;
    color: #51515A !important;
}

.p2{
    font-size: 19px !important;
    font-weight: 300 !important;
    line-height: 30px !important;
    color: #51515A !important;
    width: 451px !important;
}

.h2{
    color: #2692B7;
}

#img2{
    float: left;
    width: 1177px;
    margin-top: 190px;
}

.bg-light {
    background-color: #ffff !important;
}
.footer{
    background-color: #32323d !important;
}

@media (max-width: 1559px) and (min-width: 1160px){
    .homepage-flow {
        background-image: url("../img/LP_3.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 800px;
    }
}

.flow-logo {
    background-image: url("../img/flow-logoLP.png");
    height: 50px;
    margin: 0 auto;
    width: 155px;
}

#h2-1{
    font-size: 36px;
    font-weight: 700 !important;
    color: #ffff;
    margin-top: 48px;
    text-align: center;
}

#p3{
    color: #ffff;
    margin-top: 27px;
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    width: 463px;
    margin-left: 122px;
}